<section class="position-relative bg-dark pt-lg-4 pt-xl-5 pb-5">

  <div class="container position-relative z-2 pt-2 pt-sm-4 pt-md-5">
    <div class="row justify-content-center pt-2">
      <div class="col-lg-9 col-xl-8 text-center pt-5">
        <!-- <a
          href="javascript:void(0);"
          class="d-inline-flex align-items-center fs-sm fw-semibold text-decoration-none bg-warning bg-opacity-10 text-warning rounded-pill py-2 px-3"
        >
          <span class="fw-semibold lh-sm">New Around v2.0</span>
          <i class="ai-arrow-right fs-lg ms-2 me-n1"></i>
        </a> -->
        <img class="mb-5" src="assets/img/symphony/performer-full-white.png" alt="performer-logo" width="340px">

        <!-- <h1 class="display-4 text-white pt-3 mt-5 mb-4">
          TODO: Performer Page Title Here
        </h1> -->
        <p class="text-body pb-3 mb-3 mb-lg-4" style="color: rgba(255, 255, 255, 0.703) !important;">
          Manage contract administration and fair opportunity task orders with Symphony Performer. Combine it with
          Symphony Audition for a complete procurement solution to support your mission.
        </p>
      </div>
    </div>
  </div>
  <div class="d-none d-lg-block" style="height: 70px"></div>

  <div class="d-flex position-absolute bottom-0 start-0 w-100 overflow-hidden mb-n1" style="color: var(--ar-body-bg)">
    <div class="position-relative start-50 flex-shrink-0" style="width: 3774px">
      <!-- <svg width="3774" height="201" viewBox="0 0 3774 201" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0 200.003C0 200.003 1137.52 0.188224 1873.5 0.000134392C2614.84 -0.189325 3774 200.003 3774 200.003H0Z"
          fill="currentColor" />
      </svg> -->
    </div>
  </div>

  <div class="bg-black rounded-4 p-2 mx-auto" style="max-width: 1160px">
    <div class="overflow-hidden" style="border-radius: calc(var(--ar-border-radius) * 1.25)">
      <figure slot="second">
        <img src="assets/img/symphony/product/performer/orders-dashboard.png" alt="Dashboard Light Mode" />
      </figure>

    </div>
  </div>
</section>