@if(!isSubmitting){
  <p class=" text-center  text-body pb-4 m-3">
    Thanks for your interest in Symphony.
    Please fill in the fields below and we’ll get in touch to schedule a demo.
  </p>
<div class="d-flex justify-content-center align-items-center pb-1 pb-sm-3 pb-lg-4 m-3">
 
  <div class="col-lg-8 col-xl-7 ">
    <form class="row g-4 needs-validation" novalidate [formGroup]="contactForm" (ngSubmit)="submitForm()">
      <div class="col-sm-12">
        <label class="form-label fs-base" for="name"> Full Name</label>
        <input class="form-control form-control-lg" formControlName="name" type="text" placeholder="Your name" required
          id="name" />
        @if ((formControl['name'].invalid && (formControl['name'].touched || formControl['name'].dirty))) {
        <div class="invalid-feedback d-block">Please enter your name</div>
        }
      </div>
      <div class="col-sm-6">
        <label class="form-label fs-base" for="email">Email</label>
        <input class="form-control form-control-lg" type="email" formControlName="email" placeholder="Email address"
          required id="email" />
        @if ((formControl['email'].invalid && (formControl['email'].touched || formControl['email'].dirty))) {
        <div class="invalid-feedback d-block">
          Please provide a valid email address
        </div>
        }
      </div>
      <div class="col-sm-6">
        <label class="form-label fs-base" for="phone">Phone</label>
        <input class="form-control form-control-lg" type="text" formControlName="phone" placeholder="Phone number"
          id="phone" />
        @if (formControl['phone'].invalid && (formControl['phone'].touched || formControl['phone'].dirty)) {
        <div class="invalid-feedback d-block">Please enter your number</div>
        }
      </div>
      <div class="col-sm-12">
        <label class="form-label fs-base" for="organization">Organization</label>
        <input class="form-control form-control-lg" type="text" formControlName="organization"
          placeholder="Organization" id="organization" />
        @if (formControl['organization'].invalid && (formControl['organization'].touched ||
        formControl['organization'].dirty)) {
        <div class="invalid-feedback d-block">Please enter your organization</div>
        }
      </div>
      <div class="col-sm-12 pt-2">
        <button type="submit" class="btn btn-lg btn-info" type="submit">
          Send a request
        </button>
      </div>
    </form>
  </div>
</div>
} @else {

  <p class=" text-center  text-body pb-4 m-3">
    Thank you, this request has been submitted.
  </p>
  <div style="height: 550px"></div>

}