<main class="page-wrapper">

  <section class="container py-5 mt-5 mb-lg-3 mb-xl-4 mb-xxl-5">
    <div class="text-center pb-3 pt-lg-2 pt-xl-4 my-1 my-sm-3 my-lg-4">
      <h1 class="display-2">Straightforward Pricing.</h1>
      <h1 class="display-2">Reliable Support.</h1>
      <!-- <p class="fs-lg mb-0">
        Select a service plan that best suits your business needs
      </p> -->
    </div>

    <div class="text-center pb-3 pt-lg-2 pt-xl-4 my-1 my-sm-3 my-lg-4">
      <h1 class="display-2">Symphony Licenses</h1>
      <p class="fs-lg mb-0">
        Symphony licensing is based on the number of contract vehicles (GWACs/Pools/IDIQs), not the number of contracts,
        contract holders, vendors, ordering activities, orders, or users (seats).
      </p>
    </div>

    <pricing-compare-table />
  </section>

  <pricing-testimonial />

  <!-- <pricing-tool /> -->

  <!-- <pricing-faq /> -->
</main>