<section class="position-relative overflow-hidden py-5">
  <span class="position-absolute top-0 start-0 w-100 h-100 d-dark-mode-none" style="
      background: linear-gradient(
        141deg,
        rgba(255, 255, 255, 0.01) 17.3%,
        #f6f9fc 78.21%
      );
    "></span>
  <div class="position-absolute top-0 start-0 w-100 h-100 d-none d-dark-mode-block" style="
      background: linear-gradient(
        141deg,
        rgba(18, 21, 25, 0) 17.3%,
        rgba(255, 255, 255, 0.03) 78.21%
      );
    "></div>

  <div class="container position-relative z-2  mt-lg-2 mt-xl-4">
    <h2 class="h1 text-center pb-1 mb-2">Manage contract administration and fair opportunity task orders with Symphony
      Performer. </h2>
    <p class="text-center pb-3 mb-3 mb-lg-4">
      Symphony Performer streamlines and standardizes order placement and contract administration for complex
      acquisition programs, accelerating task order throughput and fulfillment through a collaborative environment for
      all users. It facilitates seamless interactions between Customer Ordering Activities, Contract Holders, and the
      Program Office to ensure efficient contract administration and order placement. Additionally, Performer provides
      valuable insights into contract holder performance and buyer activities through comprehensive data analysis.
    </p>
    <!-- <p class="fs-lg text-center pb-lg-2">
      Well, lots of things. Some of them are listed below
    </p> -->

    <div class="row align-items-center justify-content-center py-4 py-md-5 my-1 my-sm-3 my-md-0 my-xl-3">
      <div class="col-11 col-sm-9 col-md-7 col-lg-6 offset-lg-1 order-md-2 pb-2 pb-sm-3 pb-md-0 mb-4 mb-md-0">
        <div class="parallax" appParallax [parallaxScale]="4" style="max-width: 636px">
          <div class="parallax-layer" data-depth="0">
            <div class="ratio" style="--ar-aspect-ratio: 89.6%"></div>
          </div>

          <div class="parallax-layer" [attr.data-depth]="0.1">
            <img src="assets/img/symphony/product/performer/fair-opp.png"
              class="d-dark-mode-none position-relative rounded-2" style="
                top: 7.5%;
                box-shadow: 0 12px 48px -8px rgba(189, 196, 221, 0.35);
              " alt="Total users line chart" />
          </div>
        </div>
      </div>
      <div class="col-md-5 col-xl-4 offset-xl-1 order-md-1 text-center text-md-start">
        <h3 class="h2 mb-lg-4">Fair Opportunity Management</h3>
        <p class="fs-lg pb-lg-2 mb-4">
          At its core, Performer’s workflow ensures adherence to FAR and Fair Opportunity compliance. Performer guides
          ordering activities to align with the master contract obligations and scope while providing real-time progress
          reporting through dashboards and detailed reports.
        </p>

      </div>
    </div>

    <div
      class="row align-items-center justify-content-center justify-content-md-start py-4 py-md-5 my-2 my-sm-3 my-md-0 my-xl-3">
      <div class="col-11 col-sm-9 col-md-7 col-lg-6 pb-2 pb-sm-3 pb-md-0 mb-4 mb-md-0">
        <div class="parallax" appParallax [parallaxScale]="5" style="max-width: 636px">
          <div class="parallax-layer" [attr.data-depth]="0.05">
            <img src="assets/img/landing/saas-4/use-cases/task-automation/circle-1.png" alt="Circle 1" />
          </div>
          <div class="parallax-layer" [attr.data-depth]="0.1" style="top: 30%;">
            <img src="assets/img/symphony/product/performer/contract-mod.png" alt="Circle 2" />
          </div>

        </div>
      </div>
      <div class="col-md-5 col-xl-4 offset-lg-1 text-center text-md-start">
        <h3 class="h2 mb-lg-4">Contract Management</h3>
        <p class="fs-lg pb-lg-2 mb-4">
          Performer provides full visibility into all activities within your contracts and allows you to stay on top of
          annual contract holder management tasks and obligations. Contract administration becomes seamless with
          standard modification templates and annual certification automation.
        </p>

      </div>
    </div>

    <div class="row align-items-center justify-content-center py-4 py-md-5 my-2 my-sm-3 my-md-0 my-xl-3">

      <div class=" col-12  order-md-1 text-center text-md-start">
        <h3 class="h2 mb-lg-4">Contract Performance Management</h3>
        <p class="fs-lg pb-lg-2 mb-4">
          Monitor contract holder performance with ease by running reports through Symphony. Stay on track by generating
          contract-wide modifications and acknowledgments. Gain full control and see the big picture with a
          comprehensive overview.
        </p>

      </div>
    </div>

    <div
      class="row align-items-center justify-content-center justify-content-md-start py-4 py-md-5 my-2 my-sm-3 my-md-0 my-xl-3">

      <div class="col-12 text-center text-md-start">
        <h3 class="h2 mb-lg-4">Market Research
        </h3>
        <p class="fs-lg pb-lg-2 mb-4">
          Symphony Performer and Audition are natively integrated, enabling post-award activities to tap into pre-award
          information for market research.
        </p>

      </div>
    </div>


  </div>
</section>