<section class="bg-secondary py-5">
  <div class="container mt-1 py-md-2 py-lg-4 py-xxl-5">
    <h2 class="h1 text-center pt-5 pb-5 pt-sm-4">
      Join Us
    </h2>
  
    <div class="row g-4">


      <div class="col-md-6">
        <div class="card border-0 h-100">
          <div class="card-body overflow-hidden">

            <img src="assets/img/landing/saas-2/features/02.png" width="80" alt="Image" />
            <div class="d-sm-flex pt-4 align-items-center">

              <div class="order-sm-1 pe-sm-3 me-xl-4">
                <h3>Our Purpose</h3>
                <p class="pb-3 mb-1 mb-xl-3">
                  The big challenges of our world – climate change, pandemics, war, poverty – all take a strong and
                  organized response from the government.
                </p>
                <p class="pb-3 mb-1 mb-xl-3">
                  Our mission is to give governments the tools to efficiently find, deploy, and manage resources to
                  respond to these challenges.
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card border-0 h-100">
          <div class="card-body overflow-hidden">
            <img class="d-dark-mode-none" src="assets/img/landing/saas-2/features/03-light.png" width="100"
              alt="Image" />
            <div class="d-sm-flex pt-4 align-items-center">

              <div class="order-sm-1 pe-sm-3 me-xl-4">
                <h3>Our People</h3>
                <p class="pb-3 mb-1 mb-xl-3">
                  Our team is distributed worldwide and composed of people who want to have a big impact, love to learn,
                  and demonstrate humility.
                </p>
                <p class="pb-3 mb-1 mb-xl-3">
                  Our culture, built over more than two decades, is one of collaboration, trust, and accountability.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>