<section class="bg-secondary py-5">
  <div class="container mt-1 py-md-2 py-lg-4 py-xxl-5">
    <!-- <h2 class="h1 text-center pt-5 pb-5 pt-sm-4">
      Join Us
    </h2> -->

    <div class=" offset-lg-1 mb-4 pt-5">
      <div class="col-lg-7">
        <h1 class="mb-lg-0">Do you find yourself reorganizing processes at the DMV while you wait in line? So do we.
        </h1>
      </div>

      <div class="col-sm-7 col-lg-8">
        <div class="pt-4 ">

          <p>Apex Logic initially found success in the commercial sector, but later
            transitioned to simplifying government procurement -- a notoriously convoluted process -- through the
            introduction of the Symphony Procurement Suite. This intuitive, cloud-based platform, designed for easy
            collaboration and workflow automation within an open and integrable system, now manages $10 billion in
            government contract spending each year.</p>

          <p class="d-sm-none d-md-block"> As a growing company committed to diversity of thought, our people are our
            greatest asset. </p>

        </div>
      </div>
    </div>

    <!-- <div class="row g-4">


      <div class="col-md-6">
        <div class="card border-0 h-100">
          <div class="card-body overflow-hidden">

            <img src="assets/img/landing/saas-2/features/02.png" width="80" alt="Image" />
            <div class="d-sm-flex pt-4 align-items-center">

              <div class="order-sm-1 pe-sm-3 me-xl-4">
                <h3>Our Purpose</h3>
                <p class="pb-3 mb-1 mb-xl-3">
                  The big challenges of our world – climate change, pandemics, war, poverty – all take a strong and
                  organized response from the government.
                </p>
                <p class="pb-3 mb-1 mb-xl-3">
                  Our mission is to give governments the tools to efficiently find, deploy, and manage resources to
                  respond to these challenges.
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card border-0 h-100">
          <div class="card-body overflow-hidden">
            <img class="d-dark-mode-none" src="assets/img/landing/saas-2/features/03-light.png" width="100"
              alt="Image" />

            <div class="d-sm-flex pt-4 align-items-center">

              <div class="order-sm-1 pe-sm-3 me-xl-4">
                <h3>Our People</h3>
                <p class="pb-3 mb-1 mb-xl-3">
                  Our team is distributed worldwide and composed of people who want to have a big impact, love to learn,
                  and demonstrate humility.
                </p>
                <p class="pb-3 mb-1 mb-xl-3">
                  Our culture, built over more than two decades, is one of collaboration, trust, and accountability.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div> -->
  </div>
</section>