<h2 class="display-4 mt-5">Contact Us</h2>
<p class="fs-lg pb-4 mb-2 mb-sm-3">
  Get in touch with us, We'd love to hear from you.
</p>

<div
  class="row row-cols-md-1 row-cols-xl-3 g-4 pb-2 pb-sm-4 pb-lg-5"
>
  <div class="col">
    <div class="card border-0 h-100">
      <div class="card-body">
        <h4 class="card-title mb-4">Address</h4>
        <p class="fs-lg fw-medium pb-3 mb-3">
          885 Tahoe Blvd STE 9 Incline Village, NV, 89451
        </p>

      </div>
    </div>
  </div>

  <div class="col">
    <div class="card border-0 h-100">
      <div class="card-body">
        <h4 class="card-title mb-4">Phone</h4>
        <ul class="list-unstyled mb-0">
          <li class="pb-1 mb-2">
            <span class="d-block fs-sm text-body-secondary mb-1"
              >Main office</span
            >
            <a class="nav-link fs-lg p-0" href="tel:+178632256033"

              >+1&nbsp;(301)&nbsp;657&nbsp;4444</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card border-0 h-100">
      <div class="card-body">
        <h4 class="card-title mb-4">Email</h4>
        <ul class="list-unstyled mb-0">
          <li class="pb-1 mb-2">
            <span class="d-block fs-sm text-body-secondary mb-1"
              >Main office</span
            >
            <a class="nav-link fs-lg p-0" href="mailto:info@apexlogic.com"
              >info&#64;apexlogic.com</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
