<section class="container mb-5   pb-5" data-bs-theme="dark">
  <div class="position-relative bg-info rounded-5 overflow-hidden p-md-5 p-4">
    <div
      class="position-absolute top-0 start-0 w-100 h-100"
      style="background-color: rgba(255, 255, 255, 0.03)"
    ></div>
    <div class="position-relative p-xl-5 p-md-4 py-4 px-sm-3">
      <h2 class="h1 pb-md-4 pb-3 mt-n2">
        We’d love to hear from you!
      </h2>
      <div class="row gy-md-5 gy-4 gx-xl-5">
       
        <h4>Send resume and cover letter to info&#64;apexlogic.com
        </h4>
      </div>
    </div>
  </div>
</section>
