<section class="container pt-5 pb-4 mb-2 my-lg-3 my-xl-4 my-xxl-5">
  <div class="row justify-content-center pt-2 pt-sm-3 pt-md-4 mt-lg-2 pb-lg-2 pb-xl-0">
    <div class="col-sm-11 col-md-10 text-center">
      <!-- <h2 class="h1 text-center pb-1 mb-2">Streamline the entire contract vehicle competition process with Symphony Audition.</h2> -->
      <p class="text-center pb-3 mb-3 mb-lg-4">
        Symphony Audition manages solicitation configuration, proposal intake, offer evaluation, source selection and
        final determinations for your unique RFP criteria. By automating these processes and increasing visibility into
        industry proposal validations, Symphony Audition enhances proposal quality, reduces protest risk, and simplifies
        end-to-end solicitation management for your program.
      </p>
    </div>
  </div>

  <div class="row align-items-center py-4 py-lg-5 my-sm-2 my-md-4 my-lg-0 my-xl-2 my-xxl-4" data-aos="fade-up"
    data-aos-duration="600" data-aos-offset="300" data-disable-parallax-down="md">
    <div class="col-md-6 pt-xl-2 offset-xl-1 order-md-2 pb-3 pb-md-0 mb-3 mb-sm-4 mb-md-0">
      <img class="d-dark-mode-none" src="assets/img/symphony/product/audition/sol-config.png" width="636" alt="Image" />

    </div>
    <div class="col-md-6 col-xl-5 order-md-1 pt-xl-2" data-aos="fade-up" data-aos-duration="850" data-aos-offset="200"
      data-disable-parallax-down="md">
      <div class="pe-md-3 pe-xl-0">
        <!-- <span
          class="badge bg-primary bg-opacity-10 text-primary fs-sm mb-3 mb-lg-4"
          >Team activities</span
        > -->
        <h3 class="h2 mb-lg-4">
          Solicitation Configuration
        </h3>
        <p class="mb-0">
          Symphony Audition is configured to your specific program requirements. Apex Logic will collaborate with your
          government program team to adapt the Audition tool to meet the needs of your solicitation. The Audition tool
          also includes a Q&A module that allows you to gather feedback and respond to any questions from industry. Once
          the solicitation is finalized, Symphony Audition will collect all required information in a standardized
          format.
        </p>
      </div>
    </div>
  </div>

  <div class="row align-items-center py-4 py-lg-5 my-sm-2 my-md-4 my-lg-0 my-xl-2 my-xxl-4" data-aos="fade-up"
    data-aos-duration="600" data-aos-offset="300" data-disable-parallax-down="md">
    <div class="col-md-6 pt-xl-2 pb-3 pb-md-0 mb-3 mb-sm-4 mb-md-0">
      <img class="d-dark-mode-none" src="assets/img/symphony/product/audition/proposal-intake.png" width="636"
        alt="Image" />

    </div>
    <div class="col-md-6 col-xl-5 offset-xl-1 pt-xl-2" data-aos="fade-up" data-aos-duration="850" data-aos-offset="200"
      data-disable-parallax-down="md">
      <div class="ps-md-3 ps-xl-0">
        <h3 class="h2 mb-lg-4">
          Proposal Intake
        </h3>
        <p class="mb-0">
          Offerors use the Symphony Audition product to respond to the solicitation. Audition accounts for the specific
          needs of your program based on how it was configured. Offerors respond to the solicitation by submitting
          information in a consistent format, enabling business intelligence and program efficiency. The system provides
          real-time validation to offerors and displays an error summary page. While Symphony will not reject a
          submission due to a validation error, it will notify both the program and the offeror of the error.
        </p>
      </div>
    </div>
  </div>

  <div class="row align-items-center py-4 py-lg-5 my-sm-2 my-md-4 my-lg-0 my-xl-2 my-xxl-4" data-aos="fade-up"
    data-aos-duration="600" data-aos-offset="300" data-disable-parallax-down="md">
    <div class="col-md-6 offset-xl-1 order-md-2 pb-3 pb-md-0 mb-3 mb-sm-4 mb-md-0">
      <img class="d-dark-mode-none" src="assets/img/symphony/product/audition/technical-evaluation.png" width="636"
        alt="Image" />

    </div>
    <div class="col-md-6 col-xl-5 order-md-1" data-aos="fade-up" data-aos-duration="850" data-aos-offset="200"
      data-disable-parallax-down="md">
      <div class="pe-md-3 pe-xl-0">
        <h3 class="h2 mb-lg-4">
          Offer Evaluation
        </h3>
        <p class="mb-0">
          The Audition module streamlines the evaluation of offeror responses and supporting documentation by organizing
          the solicitation into manageable sections, promoting consistency, minimizing protest risk, and ensuring fair
          competition.
        </p>
      </div>
    </div>
  </div>

  <div class="row align-items-center py-4 py-lg-5 my-sm-2 my-md-4 my-lg-0 my-xl-2 my-xxl-4" data-aos="fade-up"
    data-aos-duration="600" data-aos-offset="300" data-disable-parallax-down="md">
    <!-- <div class="col-md-6 pt-xl-2 pb-3 pb-md-0 mb-3 mb-sm-4 mb-md-0">
      <img class="d-dark-mode-none" src="assets/img/landing/saas-1/features/03-light.png" width="636" alt="Image" />
      <img class="d-none d-dark-mode-block" src="assets/img/landing/saas-1/features/03-dark.png" width="636"
        alt="Image" />
    </div> -->
    <div class="col-12 pt-xl-2" data-aos="fade-up" data-aos-duration="850" data-aos-offset="200"
      data-disable-parallax-down="md">
      <div class="ps-md-3 ps-xl-0">
        <h3 class="h2 mb-lg-4">
          Source Selection
        </h3>
        <p class="mb-0">
          Symphony Audition streamlines the source selection process by using your pre-established source selection plan
          to guarantee fair proposal evaluations. By incorporating well-defined roles, permissions, and validations, the
          system can alert both offerors and the source selection team of proposal errors. The entire source selection
          process is meticulously documented in Symphony, culminating in a ranked list of the most qualified offerors
          that are aligned with your specifications.
        </p>
      </div>
    </div>
  </div>

  <div class="row align-items-center py-4 py-lg-5 my-sm-2 my-md-4 my-lg-0 my-xl-2 my-xxl-4" data-aos="fade-up"
    data-aos-duration="600" data-aos-offset="300" data-disable-parallax-down="md">
    <!-- <div class="col-md-6 offset-xl-1 order-md-2 pb-3 pb-md-0 mb-3 mb-sm-4 mb-md-0">
      <img class="d-dark-mode-none" src="assets/img/landing/saas-1/features/04-light.png" width="636" alt="Image" />
      <img class="d-none d-dark-mode-block" src="assets/img/landing/saas-1/features/04-dark.png" width="636"
        alt="Image" />
    </div> -->
    <div class="col-12 order-md-1" data-aos="fade-up" data-aos-duration="850" data-aos-offset="200"
      data-disable-parallax-down="md">
      <div class="pe-md-3 pe-xl-0">
        <h3 class="h2 mb-lg-4">
          Determinations
        </h3>
        <p class="mb-0">
          Symphony Audition consolidates data from all the previous steps and provides final recommendations. These
          recommendations are used by the acquisition team to decide the contract award. The contract can then be
          finalized by adding a contract number either from your contract writing system or by using one generated by
          Symphony. The awarded contract is then ready for receiving task order requests, and all awardee data is
          automatically accessible in the order management system.
        </p>
      </div>
    </div>
  </div>

</section>