<section class="container pt-5 pb-4 mb-2 my-lg-3 my-xl-4 my-xxl-5">
  <div class="row justify-content-center pt-2 pt-sm-3 pt-md-4 mt-lg-2 pb-lg-2 pb-xl-0">
    <div class="col-sm-11 col-md-9 col-lg-8 col-xl-7 col-xxl-6 text-center">
      <!-- <h2 class="h1 mb-0">
        Solicitation Configuration
      </h2> -->
    </div>
  </div>

  <div class="row align-items-center py-4 py-lg-5 my-sm-2 my-md-4 my-lg-0 my-xl-2 my-xxl-4" data-aos="fade-up"
    data-aos-duration="600" data-aos-offset="300" data-disable-parallax-down="md">
    <div class="col-md-6 pt-xl-2 offset-xl-1 order-md-2 pb-3 pb-md-0 mb-3 mb-sm-4 mb-md-0">
      <img class="d-dark-mode-none" src="assets/img/symphony/product/audition/sol-config.png" width="636" alt="Image" />

    </div>
    <div class="col-md-6 col-xl-5 order-md-1 pt-xl-2" data-aos="fade-up" data-aos-duration="850" data-aos-offset="200"
      data-disable-parallax-down="md">
      <div class="pe-md-3 pe-xl-0">
        <!-- <span
          class="badge bg-primary bg-opacity-10 text-primary fs-sm mb-3 mb-lg-4"
          >Team activities</span
        > -->
        <h3 class="h2 mb-lg-4">
          Solicitation Configuration
        </h3>
        <p class="mb-0">
          Symphony Audition is configured to meet the specific requirements of your program. During the creation of the
          solicitation, Apex Logic works with the government program team to ensure Symphony Audition collects the
          required information in a consistent format.
        </p>
      </div>
    </div>
  </div>

  <div class="row align-items-center py-4 py-lg-5 my-sm-2 my-md-4 my-lg-0 my-xl-2 my-xxl-4" data-aos="fade-up"
    data-aos-duration="600" data-aos-offset="300" data-disable-parallax-down="md">
    <div class="col-md-6 pt-xl-2 pb-3 pb-md-0 mb-3 mb-sm-4 mb-md-0">
      <img class="d-dark-mode-none" src="assets/img/symphony/product/audition/proposal-intake.png" width="636" alt="Image" />

    </div>
    <div class="col-md-6 col-xl-5 offset-xl-1 pt-xl-2" data-aos="fade-up" data-aos-duration="850" data-aos-offset="200"
      data-disable-parallax-down="md">
      <div class="ps-md-3 ps-xl-0">
        <h3 class="h2 mb-lg-4">
          Proposal Intake
        </h3>
        <p class="mb-0">
          Offerors use the Symphony Audition product to respond to the solicitation. Audition accounts for the specific
          needs of your program based on how it was configured. Offerors respond to the solicitation by submitting
          information in a consistent format, enabling business intelligence and program efficiency. The system provides
          real-time validation to offerors and displays an error summary page. While Symphony will not reject a
          submission due to a validation error, it will notify both the program and the offeror of the error.
        </p>
      </div>
    </div>
  </div>

  <div class="row align-items-center py-4 py-lg-5 my-sm-2 my-md-4 my-lg-0 my-xl-2 my-xxl-4" data-aos="fade-up"
    data-aos-duration="600" data-aos-offset="300" data-disable-parallax-down="md">
    <div class="col-md-6 offset-xl-1 order-md-2 pb-3 pb-md-0 mb-3 mb-sm-4 mb-md-0">
      <img class="d-dark-mode-none" src="assets/img/symphony/product/audition/technical-evaluation.png" width="636" alt="Image" />
      
    </div>
    <div class="col-md-6 col-xl-5 order-md-1" data-aos="fade-up" data-aos-duration="850" data-aos-offset="200"
      data-disable-parallax-down="md">
      <div class="pe-md-3 pe-xl-0">
        <h3 class="h2 mb-lg-4">
          Offer Evaluation
        </h3>
        <p class="mb-0">
          The Audition module allows the program team to review offeror responses and supporting documentation by
          breaking down the solicitation into manageable sections. The evaluation is done consistently, allowing for
          fair competition.
        </p>
      </div>
    </div>
  </div>

  <div class="row align-items-center py-4 py-lg-5 my-sm-2 my-md-4 my-lg-0 my-xl-2 my-xxl-4" data-aos="fade-up"
    data-aos-duration="600" data-aos-offset="300" data-disable-parallax-down="md">
    <!-- <div class="col-md-6 pt-xl-2 pb-3 pb-md-0 mb-3 mb-sm-4 mb-md-0">
      <img class="d-dark-mode-none" src="assets/img/landing/saas-1/features/03-light.png" width="636" alt="Image" />
      <img class="d-none d-dark-mode-block" src="assets/img/landing/saas-1/features/03-dark.png" width="636"
        alt="Image" />
    </div> -->
    <div class="col-12 pt-xl-2" data-aos="fade-up" data-aos-duration="850" data-aos-offset="200"
      data-disable-parallax-down="md">
      <div class="ps-md-3 ps-xl-0">
        <h3 class="h2 mb-lg-4">
          Source Selection
        </h3>
        <p class="mb-0">
          The source selection process begins with the offeror and is configured at the master contract level to ensure
          fair evaluations for all proposals. The program's Source Selection Plan establishes roles and permissions,
          while validations alert both the offeror and source selection team of proposal errors. The entire process is
          documented in Symphony for Final Determinations, delivering a sorted list of the most qualified offerors based
          on your specifications.
        </p>
      </div>
    </div>
  </div>

  <div class="row align-items-center py-4 py-lg-5 my-sm-2 my-md-4 my-lg-0 my-xl-2 my-xxl-4" data-aos="fade-up"
    data-aos-duration="600" data-aos-offset="300" data-disable-parallax-down="md">
    <!-- <div class="col-md-6 offset-xl-1 order-md-2 pb-3 pb-md-0 mb-3 mb-sm-4 mb-md-0">
      <img class="d-dark-mode-none" src="assets/img/landing/saas-1/features/04-light.png" width="636" alt="Image" />
      <img class="d-none d-dark-mode-block" src="assets/img/landing/saas-1/features/04-dark.png" width="636"
        alt="Image" />
    </div> -->
    <div class="col-12 order-md-1" data-aos="fade-up" data-aos-duration="850" data-aos-offset="200"
      data-disable-parallax-down="md">
      <div class="pe-md-3 pe-xl-0">
        <h3 class="h2 mb-lg-4">
          Determinations
        </h3>
        <p class="mb-0">
          The final determination recommendations are provided by Symphony Audition, which combines all of the
          previously mentioned functions. This information is used as input by the acquisition team to determine the
          award. Once decided, the award process can be completed by simply adding a contract number from your contract
          writing system or by using a contract number generated by Symphony. The awarded contract is then available for
          receiving Task Order requests, with awardee data automatically opened in the order management system —
          <a routerLink="performer-overview" href="performer-overview">Symphony Performer</a>.
        </p>
      </div>
    </div>
  </div>

</section>