<section class="pt-2 pt-md-0">
  <div class="position-relative pt-lg-3 pt-xl-4 pt-xxl-5">
    <div class="bg-primary position-absolute top-0 start-0 w-100 h-100 rounded-5 d-md-none" data-aos="zoom-in"
      data-aos-duration="700" data-aos-offset="300"></div>
    <div class="bg-primary position-absolute top-0 start-0 w-100 h-100 d-none d-md-block"
      style="border-radius: 5rem 5rem 0 0" data-aos="zoom-in" data-aos-duration="700" data-aos-offset="300"></div>
    <div class="container px-4 px-sm-5 px-md-0 position-relative z-2 pt-md-4 pt-lg-5 pb-sm-2 pb-md-3 pb-xl-4 pb-xxl-5"
      data-bs-theme="dark">
      <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="500" data-aos-offset="300">
        <div class="col-md-10 col-lg-8 col-xl-7 col-xxl-6 text-center py-5">
          <h2 class="display-1 mb-4">A Platform with Vision</h2>
          <p class="text-body fs-xl pb-3 mb-3 mb-lg-4">
            Symphony Procurement Suite is a cloud-based contract acquisition and management platform that integrates
            into your existing ecosystem, centralizing contract data, activities, and communications within a single
            interface.
          </p>
          <p class="text-body fs-xl pb-3 mb-3 mb-lg-4">
            The platform streamlines workflows to ensure fair and efficient processes for all stakeholders, while
            providing government agencies with real-time reporting and dashboards for enhanced oversight throughout the
            procurement lifecycle.
          </p>
          <p class="text-body fs-xl pb-3 mb-3 mb-lg-4">
            With robust program management, contract intelligence, lifecycle reporting, integrations, and AI
            capabilities, Symphony's core workflow ensures compliance with FAR and Fair Opportunity.
          </p>

          <div class="d-sm-flex justify-content-center">
            <a class="btn btn-lg btn-outline-warning rounded-pill w-100 w-sm-auto" href="javascript:void(0);">Request a
              demo</a>
          </div>
        </div>
      </div>
    </div>
    <div class="position-relative z-2 px-md-5">
      <img class="d-block d-dark-mode-none mx-auto" src="assets/img/symphony/product/audition/technical-evaluation.png" width="1076"
        alt="Image" />
      <!-- <img class="d-none d-dark-mode-block mx-auto" src="assets/img/landing/saas-2/dash-dark.png" width="1076"
        alt="Image" /> -->
    </div>
  </div>
</section>