<section class="bg-dark border-top border-light py-2 py-sm-3 py-md-4 py-lg-5" data-bs-theme="dark">
  <div class="container py-5 my-lg-3 my-xl-4 my-xxl-5">
    <h2 class="h1 text-center text-md-start mt-lg-n3 pb-4 pb-md-5" style="max-width: 660px">
      Conception to Award
    </h2>

    <div class="row">
      <div class="col-md-6 col-xl-5 offset-xl-1 order-md-2 pb-4 pb-md-0 mb-2 mb-md-0">

      </div>
      <div class="col-md-12 col-xl-8 order-md-1">
        <!-- <ul
          ngbNav
          #nav="ngbNav"
          class="nav nav-tabs flex-nowrap overflow-auto text-nowrap pb-3 mb-3 mb-xl-4"
          role="tablist"
        >
        @for(tab of tabs;track $index){
          <li ngbNavItem class="nav-item mb-0">
            <a
              ngbNavLink
              class="nav-link"
              role="tab"
              (click)="activeTab = tab.name"
              >{{ tab.name }}</a
            >
            <ng-template ngbNavContent>
              <h3 class="mb-lg-4">{{ tab.title }}</h3>
              <p class="text-body">{{ tab.description }}</p>
              <a
                class="btn btn-lg btn-link px-0 mt-n2 mt-lg-0"
                href="javascript:void(0);"
              >
                Learn more
                <i class="ai-arrow-right ms-2"></i>
              </a>
            </ng-template>
          </li>
        }
        </ul> -->
        <h3 class="mb-lg-4">Soliciting the Master Contract through Symphony - Proposal Intake Benefits </h3>

        <ul style="color: white;">
          <li>Contractors can register with their SAM Unique Entity Identifier (UEI), enhancing accuracy for all.</li>
          <li>Quick insights through dashboard and reporting.</li>
          <li>Audition manages roles and system security for contractors.</li>
          <li>Audition validates proposal content to prevent incomplete submissions.</li>
          <li>Audition warns contractors if submissions fail to meet requirements.</li>
          <li>Audition organizes proposals so that intake is complete at close.</li>
          <li>Contractors can view real-time validation and auto-calculated scores.</li>
          <li>Apex Logic provides Q&A, training, and help desk support.</li>
          <li>Q&A, submissions, clarifications, and evaluator data are centralized.</li>
        </ul>

        <h3 class="mb-lg-4  mt-5">Evaluating Across the Master Contract - Source Selection Benefits </h3>
        <ul style="color: white;">
          <li>Symphony is configured to streamline the approval workflow of evaluations through to the award, based on the Source Selection Plan outlined by the Program.</li>
          <li>Proposals are organized and ready for evaluation in Symphony according to the evaluation criteria.</li>
          <li>Auto-calculation of scoring/evaluation methods for easy organization—"rack and stack"—enhancing the efficiency and integrity of the evaluation process.</li>
          <li>All evaluation data is captured within Symphony, fully aligned with the solicitation requirements.</li>
          <li>Transparency is ensured as the evaluation team sees exactly what the offeror submitted in context, including all data, scoring information, and any warnings or validation messages.</li>
          <li>Supporting documents provided by bidders are linked to the relevant sections within their proposals, allowing evaluators to quickly access the evidence.</li>
          <li>Bidders "tag" these documents with keywords using standard PDF notation before uploading them into Symphony.</li>
        </ul>

        <h3 class="mb-lg-4 mt-5">Expediting the Award Phase - Determination Benefits</h3>
        <ul style="color: white;">
          <li>All evaluation data is collected and stored in a centralized system for easy access.</li>
          <li>Symphony Audition generates PDF documents as needed for quick reference.</li>
          <li>Audition's automation approach saves the Government Contracting Officer significant time by eliminating the need to manually create debriefs or gather documents from multiple sources or databases.</li>
          <li>Audition verifies socio-economic status and vendor data.</li>
          <li>Awardees can expect training and help desk support in tandem with program officials.</li>
        </ul>


      </div>
    </div>
  </div>
</section>