<div class="row align-items-center gy-2 mb-4">
  <div class="col-lg-7">
    <h1 class="mb-lg-0">Do you find yourself reorganizing processes at the DMV while you wait in line? So do we.</h1>
  </div>

  <div class="col-sm-7 col-lg-8">
    <div class="pt-4 ">

      <p>Apex Logic initially found success in the commercial sector, but later
        transitioned to simplifying government procurement -- a notoriously convoluted process -- through the
        introduction of the Symphony Procurement Suite. This intuitive, cloud-based platform, designed for easy
        collaboration and workflow automation within an open and integrable system, now manages $10 billion in
        government contract spending each year.</p>

      <p class="d-sm-none d-md-block"> As a growing company committed to diversity of thought, our people are our
        greatest asset. </p>

    </div>
  </div>