<section class="bg-dark py-5" data-bs-theme="dark">
  <div class="container pt-2 py-sm-3 py-md-4 py-lg-5 my-xxl-3">
    <div class="row pt-md-2 pt-lg-3 pt-xl-4 pb-lg-2 pb-xl-3">
      <div class="col-md-6">
        <h2 class="h1 pe-xxl-5 me-xl-4 mb-5">
          Rigorous Execution
        </h2>
      </div>
      <!-- <div class="col-md-6 col-xl-5 offset-xl-1">
        <p class="text-body fs-xl mb-0">
          Our data centers are a key component of our global infrastructure,
          providing reliable and scalable computing resources to customers
          around the world. We offer a highly distributed and resilient platform
          that can support the most demanding workloads.
        </p>
      </div> -->
    </div>
    <h3 class="mb-lg-4">Buying through Symphony — Ordering Activity Benefits </h3>

    <ul style="color: white;">
      <li>Generate task order requests from the contract vehicle according to the contract’s ordering guidelines</li>
      <li>Access to Symphony Audition for valuable Market Research</li>
      <li>Ensure Fair Opportunity</li>
      <li>Manage Q&A</li>
      <li>Issue amendments</li>
      <li>Monitor responses to the RFI/RFP</li>
      <li>Send notifications to successful and unsuccessful offerors</li>
    </ul>

    <h3 class="mb-lg-4  mt-5">Managing through Symphony — Program Office Benefits</h3>
    <ul style="color: white;">
      <li>See all orders and their status in one place</li>
      <li>Monitor contract holder performance</li>
      <li>Run reports on all data available in Symphony</li>
      <li>Generate contract-wide modifications with acknowledgment</li>
      <li>Be alerted if annual certifications are not in compliance</li>
      <li>Process novations</li>
      <li>Approve modifications to individual contracts with program office notification</li>
      <li>View concise and up-to-date list(s) of contractors by the contract pool or task area</li>
      <li>Send communications to contract holders</li>
      <li>Update contract documents for use by contract holders and ordering activities</li>
      <li>See the full picture and gain control!</li>
    </ul>

    <h3 class="mb-lg-4 mt-5">Selling through Symphony — Contract Holder Benefits</h3>
    <ul style="color: white;">
      <li>See all Market Research and Task Order activity in one place</li>
      <li>Manage contracts in one place</li>
      <li>Manage users and POCs</li>
      <li>View contract performance</li>
      <li>View answers to company’s specific questions</li>
      <li>Manage company’s certification requirements</li>
    </ul>


  </div>
</section>