<section class="bg-dark py-5" data-bs-theme="dark">
  <div class="container pt-2 py-sm-3 py-md-4 py-lg-5 my-xxl-3">
    <div class="col align-items-center pt-md-2 pt-lg-3 pt-xl-4 pb-lg-2 pb-xl-3 text-center">
      <h2 class="h1 pe-xxl-5 me-xl-4 mb-3">
        Maestro
      </h2>
      <div>
        <p style="color: rgba(255, 255, 255, 0.703) !important" class="pb-4 mb-2 mb-lg-3">
          Symphony Maestro is the AI component of Symphony. It will soon be available in beta and will provide the following features:
        </p>
      </div>
      <div class="container row text-center justify-content-around w-inherit">
        <div style="justify-content: center; color: white" class="card col-5 bg-secondary rounded-3 border-2 align-items-center">
          <p class="mb-0">Industry offerors can interact with solicitation documents and the FAR to gain insights.</p>
        </div>
        <div style="justify-content: center; color: white" class="card col-5 bg-secondary rounded-3 border-2 align-items-center pt-3 pb-3">
          <p class="mb-0">Program offices can automatically identify scope reviews that do not comply with the contract vehicle's scope.</p>
        </div>
      </div>
    </div>
    <div class="container row align-items-center pt-md-5 pb-3 mt-3">
      <div class="col">
        <h3 class="mb-lg-3">Apex Logic is integrating AI and machine learning (ML) capabilities into Symphony</h3>
      </div>
      <div class="col">
        <ul style="color: white;">
          <li>Scope Review</li>
          <li>Q&A</li>
          <li>Solicitation Development of Task Orders</li>
          <li>Document Interaction (Solicitations, Ordering guidelines, FAR)</li>
          <li>Market Research (open and anonymized)</li>
          <li>Intelligent Agents for routine tasks</li>
        </ul>
      </div>
    </div>


  </div>
</section>
<section class="container pt-5 pb-4 mb-2 my-lg-3 my-xl-4 my-xxl-5">
  <div class="row justify-content-center pt-2 pt-sm-3 pt-md-4 mt-lg-2 pb-lg-2 pb-xl-0">
    <div class="col-sm-11 col-md-9 col-lg-8 col-xl-7 col-xxl-6 text-center">
      <h2 class="h1 mb-0">
        We prioritize Responsible AI and ensure a productive and secure experience with Symphony’s AI features
      </h2>
    </div>
  </div>


  <div class="row align-items-center py-4 py-lg-5 my-sm-2 my-md-4 my-lg-0 my-xl-2 my-xxl-4" data-aos="fade-up"
    data-aos-duration="600" data-aos-offset="300" data-disable-parallax-down="md">
    <!-- <div class="col-md-6 offset-xl-1 order-md-2 pb-3 pb-md-0 mb-3 mb-sm-4 mb-md-0">
      <img class="d-dark-mode-none" src="assets/img/landing/saas-1/features/04-light.png" width="636" alt="Image" />
      <img class="d-none d-dark-mode-block" src="assets/img/landing/saas-1/features/04-dark.png" width="636"
        alt="Image" />
    </div> -->
    <div class="col-12 order-md-1" data-aos="fade-up" data-aos-duration="850" data-aos-offset="200"
      data-disable-parallax-down="md">
      <div class="pe-md-3 pe-xl-0">
        <h3 class="h2 mb-lg-4">
          Symphony's security includes:
        </h3>
        <ul >
          <li>Data residing in FedRAMP Moderate and High designated knowledge bases. The AI platform and its services also have Moderate and High FedRAMP designations.</li>
          <li>Data is not used for training models, preventing data leaks.
          </li>
          <li>Information from documents is always cited.</li>
          <li>Maestro responds with "I don't know" when uncertain, avoiding hallucinations.</li>
          <li>Maestro filters inappropriate responses.</li>
          <li>Apex Logic is pursuing ISO 42001 certification for AI management systems for Symphony.</li>
        </ul>
      </div>
    </div>
  </div>

</section>

