<h1 class="text-center mt-5">Professional Services</h1>
<p class="text-center pb-4 mb-2 mb-lg-3">
  Symphony is a fully configurable end-to-end solution for managing all your contract vehicles.
</p>

<p class="card-text text-center mb-5">As part of the standard license, we offer seamless setup and configuration of your contract vehicle. For clients
  seeking additional support, we provide a range of services, including expert consultation, advanced customizations,
  tailored training sessions, systems integration, and more. If preferred, you can even outsource the program support to
  us.</p>


<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 pb-sm-3 pb-md-4 pb-xl-5 pt-5">
  @for (item of allserviceData; track $index) {
  <div class="col">
    <a class="card card-hover-primary bg-secondary border-0 h-100 text-decoration-none" href="javascript:void(0);">
      <div class="card-body pb-0">
        <div [innerHTML]="item.sanitizedIcon"></div>
        <h3 class="h4 card-title mt-0">{{ item.title }}</h3>
        <p class="card-text">{{ item.description }}</p>
      </div>
      <div class="card-footer border-0 py-3 my-3 mb-sm-4">
        <!-- <div class="btn btn-lg btn-icon btn-outline-primary rounded-circle pe-none">
          <i class="ai-arrow-right"></i>
        </div> -->
      </div>
    </a>
  </div>
  }
</div>